.azs-list {
  display        : flex;
  flex-wrap      : wrap;
  grid-gap       : 10px;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .azs-list {
    justify-content: center;
  }
}

.azs-card {
  flex            : 1 1;
  max-width       : 320px;
  min-width       : 250px;
  border          : 1px solid #ccc;
  padding         : 10px;
  border-radius   : 5px;
  background-color: #002c36;
}

.azs-card-sel {
  border-color: #cdc332;
  box-shadow: 0 0 10px #cdc332;
}


.azs-card h3 {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.azs-fuel {
  margin     : .5rem 0 0;
  display    : flex;
  align-items: center;
}

.azs-fuel span{
  padding         : .5rem;
  border          : 1px solid white;
  background-color: #510808;
  width           : 2.5em;
  text-align      : center;
  font-family     : Verdana, Geneva, Tahoma, sans-serif;
  font-size       : .75em;
}

.azs-fuel span:first-child{
  margin-left: .5rem;
}