.azs-list {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap             : 10px;
}

.azs-card {
  border : 1px solid #ccc;
  padding: 10px;
  margin : 10px 0;
  border-radius: 5px;
  background-color: #002c36;
}

.azs-card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
