.autobases {
  background-color: black;
  padding         : 30px 0 10px 0;
  font-size       : 20px;
  text-transform  : uppercase;
  display         : flex;
  align-items     : center;
}

.autobases button {
  border       : none;
  padding      : 0;
  background   : none;
  font-size    : 16px;
  border-right : 1px solid grey;
  margin-left  : 15px;
  padding-right: 10px;
  color        : darkgoldenrod;
}
.autobases button:last-child {
  border-right : none;
}
.autobases button:hover {
  text-decoration: underline;
  color          : yellowgreen;
}

.autobases button.selected {
  text-decoration: underline;
  color          : #68a44a;
}

.add-car-btn {
  margin-top      : 10px;
  padding         : 5px 10px;
  background-color: #3498db;
  color           : #fff;
  border          : none;
  cursor          : pointer;
}

.stations, .cars {
  display              : grid;
  grid-template-columns: repeat(5, 1fr);  /* Используем grid для размещения карточек по пяти в ряд */
  gap                  : 10px;
}

.station-card, .car-card {
  border  : 1px solid #ccc;
  padding : 10px;
  position: relative;
}

.fas.fa-lock, .fas.fa-trash-alt {
  position: absolute;
  right   : 5px;
  bottom  : 5px;
  color   : gray;
  cursor  : pointer;
}

.autobase:hover {
  background-color: #f9f9f9;
}

.add-car-form {
  margin-top: 20px;
}

.car-card {
  border : 1px solid #ccc;
  padding: 10px;
  margin : 10px 0;
}

.matrix-layout {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap             : 10px;
}
