body {
  background-color        : black;
  color                   : white;
  padding                 : 0;
  margin                  : 0; 
}

h1,h2,h3,h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding    : 0;
  margin     : 0;
  font-weight: normal;
}

h1 {
  font-size: 20px;
  margin-left: 1rem;
}

h2 {
  margin-bottom: 20px;
  color        :cyan;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  background-color: black;
}

nav a {
  color:rgb(188, 188, 188);
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: .9em;
}

.active {
  color: #c2e165;
}

nav a:hover {
  color:#ebff56;
  text-decoration: underline;
}

.container {
  background-color: #101e2e;
  max-width       : 950px;
  margin          : 0 auto;
  padding         : 0;
}

section {
  padding      : 20px 10px;
  border-bottom: 1px solid darkgoldenrod;
}

section h2 {
  font-size     : 14px;
  text-transform: uppercase;
}

.error {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  text-align      : center;
  background-color: darkred;
  color           : white;
  padding         : 5px;
}

i {
  cursor: pointer;
  color: white;
}

.section-animate {
  animation: section-animate 1.2s cubic-bezier(0.1, 0.9, 0.5, 1.2);
}

@keyframes section-animate {
  from {
    transform: scale(.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity  : 1;
  }
}

.copyright {
  font-family: 'Courier New', Courier, monospace;
  margin-top : 1em;
  padding    : .5rem;
  border-top : 1px solid #8a8a8a;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #86c8c8;
  border-radius   : 5px;
  box-shadow      : inset 0 0 5px black;
}