.cars-header {
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
  align-items    : flex-end;
}

.cars-header > div:first-child {
  margin-bottom: .5em;
}

.cars-list {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap             : 10px;
}

.filters {
  display       : flex;
  gap           : 10px;
  color         : #77cde7;
  text-transform: capitalize;
  align-items   : center;
  flex-wrap     : wrap;
  margin-top    : 1em;
}
.filters > div{
  display       : flex;
  flex-wrap     : wrap;
  color         : #77cde7;
  text-transform: capitalize;
  border        : 1px solid #b0b0b0;
  padding       : 10px 5px 5px;
  border-radius : 5px;
  position      : relative;
}

.filters label {
  text-transform  : uppercase;
  background-color: #101e2e;
  position        : absolute;
  top             : -.75em;
  left            : 1em;
  padding         : 0 .5em;
  font-size       : .85em;
}

.filters button {
  border     : none;
  background : none;
  color      : white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filters button:hover {
  text-decoration: underline;
}

.car-card {
  border          : 1px solid #ccc;
  padding         : 10px;
  border-radius   : 5px;
  background-color: #0b043c;
  position: relative;
}

.car-card-fuel {
  width   : 24px;
  fill    : #65dbd3;
  position: absolute;
  top     : 5px;
  right   : 5px;
}

.car-card-fuel:hover {
  fill      : green;
  transform : scale(1.2);
  transition: transform .2s;
}

.car-card-fuel-sel {
  fill: yellow;
}

.car-card-fuel-error {
  fill: red;
}

.car-number {
  font-family     : 'Courier New', Courier, monospace;
  font-weight     : bold;
  background-color: white;
  color           : black;
  padding         : .2em .5em;

}

.carlist-animate:nth-child(odd) {
  animation: carlist-animate-odd .5s cubic-bezier(0.165, 0.84, 0.5, 1.2);
}
.carlist-animate:nth-child(even) {
  animation: carlist-animate-even 1s cubic-bezier(0.165, 0.84, 0.5, 1.2);
}

@keyframes carlist-animate-odd {
  from {
    transform: translateY(-20px);
    opacity  : 0;
  }
  to {
    transform: translateY(0px);
    opacity  : 1;
  }
}

@keyframes carlist-animate-even {
  from {
    transform: translateY(20px);
    opacity  : 0;
  }
  to {
    transform: translateY(0px);
    opacity  : 1;
  }
}

.add-car-btn {
  margin-top      : 10px;
  padding         : 5px 10px;
  background-color: #3498db;
  color           : #fff;
  border          : none;
  cursor          : pointer;
}

.stations, .cars {
  display              : grid;
  grid-template-columns: repeat(5, 1fr);  /* Используем grid для размещения карточек по пяти в ряд */
  gap                  : 10px;
}

.station-card, .car-card {
  border  : 1px solid #ccc;
  padding : 10px;
  position: relative;
}

.fas.fa-lock, .fas.fa-trash-alt {
  position: absolute;
  right   : 5px;
  bottom  : 5px;
  color   : gray;
  cursor  : pointer;
}

.autobase:hover {
  background-color: #f9f9f9;
}

.add-car-form {
  margin-top: 20px;
}
